IPHONEOS_DEPLOYMENT_TARGET = 26.0
TARGETED_DEVICE_FAMILY = 1,2
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
ENABLE_USER_SCRIPT_SANDBOXING = YES
DEAD_CODE_STRIPPING = YES
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

